<div class="flex flex-col-reverse md:flex-row md:justify-between md:space-y-0">
    <div class="mt-8 flex flex-col justify-center space-y-4 md:mt-0 md:w-2/3">
      <h1 class="will-change-opacity text-5xl font-bold will-change-transform">
        Omkar Thipparthi
      </h1>
      <h2 class="will-change-opacity text-lg font-medium text-gray-400 will-change-transform">
        MSCS "&#64;" ASU • Full Stack Developer • Blockchain Enthusiast
      </h2>
      <p class="text-md will-change-opacity text-lg text-gray-300 will-change-transform">
        I am a Software Engineer with expertise in Java Spring Boot, TypeScript, Python, and Solidity, specializing in building scalable and secure applications across web and blockchain ecosystems. My experience includes developing AI-powered educational platforms, optimizing Angular UI interfaces, and leading large-scale migration projects to enhance performance and maintainability. I have contributed to open-source projects like Leet2Git and GradeDevils, showcasing my ability to innovate and automate workflows. Passionate about advancing technology, I focus on delivering high-performance solutions that drive efficiency and user satisfaction.    
    </p>
      <p class="will-change-opacity text-lg font-medium text-gray-400 will-change-transform">
        Java, Spring Boot, TypeScript, Angular, Python, Solidity, SQL, MongoDB, Firebase, AWS, Docker, Git, Jenkins
      </p>
    </div>
    <div class="will-change-opacity relative h-32 w-32 overflow-hidden rounded-full will-change-transform">
    </div>
  </div>